  <!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="webthemez">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Outfitters - A personalized style just for you!</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-icon.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style4.css') }}">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
</head>

<body>
<!-- header section -->
<section class="banner" role="banner" id="home">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href=''>Out|<span>Fitters</span></a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
		 <li><a href="#home">Home</a></li>
		  <li><a href="#intro">designes</a></li>
          <li><a href="#services">Features</a></li>
          <li><a href="#content-3-10">About</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#teams">Team</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#login">Login</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <!-- banner text -->

<div id="first-slider">
    <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <!-- Item 1 -->
            <div class="item active slide1">
                <div class="row"><div class="container">
                    <div class="col-md-9 text-left">
                        <h3 data-animation="animated bounceInDown">Fashion Trends</h3>
                        <h4 data-animation="animated bounceInUp">Get our latest 2018 Collection </h4>
                     </div>
                </div></div>
             </div>
            <!-- Item 2 -->
            <div class="item slide2">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown">Winter Collection</h3>
                        <h4 data-animation="animated bounceInUp">Create beautiful slideshows </h4>
                     </div>
                </div></div>
            </div>
            <!-- Item 3 -->
            <div class="item slide3">
                <div class="row"><div class="container">
                    <div class="col-md-7 text-left">
                        <h3 data-animation="animated bounceInDown">Summer Collection</h3>
                        <h4 data-animation="animated bounceInUp">Bootstrap Image Carousel Slider</h4>
                     </div>
                </div></div>
            </div>
        </div>
        <!-- End Wrapper for slides-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
        </a>
    </div>
</div>

</section>
<!-- header section -->
<!-- intro section -->
<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h3>Welcome To OutFitters</h3>
      <p>OutFitters is an online website that employs AI tech to recommend outfits for the user tailored to your personality.</p>
    </div>
  </div>
</section>
<!-- intro section -->
<!-- section -->
<section id="Bride_Groom">
  <div class="container">

    <div class="row">
	<div class="section-header">
                <h2 class="wow fadeInDown animated">Design Trends</h2>
                <p class="wow fadeInDown animated"></p>
            </div>
            <div id="content24" data-section="content-24" class="data-section">
    		<div class="col-md-4">

				<img src="/static/img1.jpg" alt="bride" class="img-middle"/>
				<div class="align-center">
				<h4>Women's Fashion</h4>
				<p></p>
				<a href="details.html" class="morebtn">More</a>
				</div>
			</div>
				<div class="col-md-4">
				<img src="/static/img2.jpg" alt="bride" class="img-middle"/>
				<div class="align-center">
				<h4>Men's Fashion</h4>
				<p></p>
				<a href="details.html" class="morebtn">More</a>
				</div>
			</div>
			<div class="col-md-4">
				<img src="/static/img3.jpg" alt="bride" class="img-middle"/>
				<div class="align-center">
				<h4>Kids's Fashion</h4>
				<p></p>
				<a href="details.html" class="morebtn">More</a>
				</div>
			</div>
    	</div>
		</div>
  </div>
</section>
<!-- section -->
<!-- services section -->
<section id="services" class="services service-section">
  <div class="container">
  <div class="section-header">
                <h2 class="wow fadeInDown animated">Features</h2>
                <p class="wow fadeInDown animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
            </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-heart"></span>
        <div class="services-content">
          <h5>Money Back</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu libero scelerisque ligula sagittis faucibus eget quis lacus.</p>
	   </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-gift"></span>
        <div class="services-content">
          <h5>Gift Coupon</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu libero scelerisque ligula sagittis faucibus eget quis lacus.</p>
	   </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="icon icon-phone"></span>
        <div class="services-content">
          <h5>Free Shipping</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu libero scelerisque ligula sagittis faucibus eget quis lacus.</p>
		</div>
      </div>
    </div>
  </div>
</section>
<!-- services section -->
<!--About-->
<section id="content-3-10" class="content-block data-section nopad content-3-10">
	<div class="image-container col-sm-6 col-xs-12 pull-left">
		<div class="background-image-holder">

		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-6 col-xs-12 content">
				<div>
					<h3>About Us</h3>
				</div>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu libero scelerisque ligula sagittis faucibus eget quis lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
					<p>Duis eu libero scelerisque ligula sagittis faucibus eget quis lacus.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				</div>
				<a href="#gallery" class="btn btn-outline btn-outline outline-dark">Gallery</a>
			</div>
		</div><!-- /.row-->
	</div><!-- /.container -->
</section>


<!-- videos section -->
<section class="video-section">
  <div class="container">
    <div class="row">
            <div id="content24" data-section="content-24" class="data-section">
    		<div class="col-md-6">
				<h3>Videos</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
   				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
    		</div>
			<div class="col-md-6">
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/146742515?badge=0" allowfullscreen=""></iframe>
				</div>
			</div>
    	</div>
			</div><!-- end row -->
  </div>
</section>
<!-- videos section -->

<!-- gallery section -->
<section id="gallery" class="gallery section">
  <div class="container-fluid">
    <div class="section-header">
                <h2 class="wow fadeInDown animated">Gallery</h2>
                <p class="wow fadeInDown animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
            </div>
    <div class="row no-gutter">
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="file:///Users/alan/Desktop/Outfitters/templates/images/portfolio/01.jpg" class="work-box"> <img src="/static/01.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
             <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay -->
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="file:///Users/alan/Desktop/Outfitters/templates/images/portfolio/02.jpg" class="work-box"> <img src="/static/02.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay -->
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="file:///Users/alan/Desktop/Outfitters/templates/images/portfolio/03.jpg" class="work-box"> <img src="/static/03.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay -->
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="file:///Users/alan/Desktop/Outfitters/templates/images/portfolio/04.jpg" class="work-box"> <img src="/static/04.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay -->
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="file:///Users/alan/Desktop/Outfitters/templates/images/portfolio/05.jpg" class="work-box"> <img src="/static/05.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay -->
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="file:///Users/alan/Desktop/Outfitters/templates/images/portfolio/06.jpg" class="work-box"> <img src="/static/06.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay -->
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="file:///Users/alan/Desktop/Outfitters/templates/images/portfolio/07.jpeg" class="work-box"> <img src="/static/07.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay -->
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="file:///Users/alan/Desktop/Outfitters/templates/images/portfolio/08.jpeg" class="work-box"> <img src="/static/08.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
             <p><span class="icon icon-magnifying-glass"></span></p>
          </div>
        </div>
        <!-- overlay -->
        </a> </div>
    </div>
  </div>
</section>
<!-- gallery section -->
<!-- our team section -->
<section id="teams" class="section teams">
  <div class="container">
      <div class="section-header">
                <h2 class="wow fadeInDown animated">Team</h2>
                <p class="wow fadeInDown animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
            </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">

        <div class="person"><img src="{{ url_for('static', filename='team-1.jpg') }}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>Edmond Choi</h4>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img src="{{ url_for('static', filename='team-2.jpg') }}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>Steven Gov</h4>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="person"> <img src="{{ url_for('static', filename='team-3.jpg') }}" alt="" class="img-responsive">
          <div class="person-content">
            <h4>Alan Tsui</h4>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- our team section -->
<!-- Testimonials section -->
<section id="testimonials" class="section testimonials no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa
semper aliquam quis mattis consectetur adipiscing elit.." </p>
                <p>Chris Mentsl</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>"Praesent eget risus vitae massa Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa
semper aliquam quis mattis consectetur adipiscing elit.." </p>
                <p>Kristean velnly</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>"Consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa
semper aliquam quis mattis consectetur adipiscing elit.." </p>
                <p>Markus Denny</p>
              </blockquote>
            </div>
          </li>
          <li>
            <div class="col-md-12">
              <blockquote>
                <p>"Vitae massa semper aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa
semper aliquam quis mattis consectetur adipiscing elit.." </p>
                <p>John Doe</p>
              </blockquote>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials section -->

<!-- contact section -->
<section id="contact" class="section">
  <div class="container">
      <div class="section-header">
                <h2 class="wow fadeInDown animated">Mail Us</h2>
                <p class="wow fadeInDown animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
            </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 conForm">
        <div id="message"></div>
        <form method="post" action="php/contact.php" name="cform" id="cform">
          <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." >
          <input name="email" id="email" type="email" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." >
          <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Message..."></textarea>
          <input type="submit" id="submit" name="send" class="submitBnt" value="Send">
          <div id="simple-msg"></div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- contact section -->

<!-- login section -->
<section id="login" class="section">
  <div class="container">
      <div class="section-header">
                <h2 class="wow fadeInDown animated">Account Page</h2>
                <p class="wow fadeInDown animated">Sign in or create an account.</p>
                <a href={{ url_for('login') }}> Click here to go to Sign-in page </a>
            </div>

</section>
<!-- contact section -->

<!-- Footer section -->
<footer class="footer">
<div class="container-fluid">
<div id="map-row" class="row">
    <div class="col-xs-12">
    	<iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>

          <div id="map-overlay" class="col-xs-5 col-xs-offset-6" style="">
    		<h4 style="margin-top:0;color:#fff;">Address</h4>
    		<address style="color:#fff;">
    			1234 Street Dr.<br>
    			Vancouver, BC<br>
    			Canada<br>
    			V6G 1G9<br>
    			<abbr title="Phone">Tel:</abbr> (604) 555-4321
    		</address>
			  © 2018 Company Name. All Rights Reserved.
			  <br/><a target="_blank" href="https://webthemez.com/tag/free" target="_blank">Free Templates</a> by WebThemez.com
    	</div>
    </div>
	 </div>
</div>
</footer>
<!-- Footer section -->
<!-- JS FILES -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
"{{ url_for('static', filename='js/bootstrap.min.js') }}"
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
"{{ url_for('static', filename='js/jquery.flexslider-min.js') }}"
<script src="{{ url_for('static', filename='js/jquery.flexslider-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fancybox.pack.js') }}"></script>
<script src="{{ url_for('static', filename='js/retina.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.contact.js') }}"></script>
</body>
</html>
